<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itlike.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.itlike.domain.Role" >
    <id column="rid" property="rid" jdbcType="BIGINT" />
    <result column="rnum" property="rnum" jdbcType="VARCHAR" />
    <result column="rname" property="rname" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from role
    where rid = #{rid,jdbcType=BIGINT}
  </delete>
<!--  保存角色 useGeneratedKeys="true" keyProperty="rid"切记！！！！！！！！-->
  <insert id="insert" parameterType="com.itlike.domain.Role" useGeneratedKeys="true" keyProperty="rid">
    insert into role(rnum, rname)
    values (#{rnum},#{rname})
  </insert>
<!--  保存角色权限表-->
  <insert id="saveRoleAndPermission">
         insert into role_permission_for(rid,pid) values(#{rid},#{pid})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.itlike.domain.Role" >
    update role
    set rnum = #{rnum,jdbcType=VARCHAR},
      rname = #{rname,jdbcType=VARCHAR}
    where rid = #{rid,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select rid, rnum, rname
    from role
    where rid = #{rid,jdbcType=BIGINT}
  </select>
<!--  查询角色-->
  <select id="selectAll" resultMap="BaseResultMap" >
    select * from role
  </select>
  <select id="getRoles" resultType="com.itlike.domain.Role">
    select * from role
  </select>
<!--  查询对象 所有的权限-->
    <select id="selectByRid" resultType="com.itlike.domain.Permission">
    select * from permission where pid in (SELECT pid FROM `role_permission_for` where rid=#{rid})
    </select>
</mapper>